<section id="top-events" class="top">
  <h1>Eventos</h1>
</section>

<div class="container">

  <% if logged_in? %>
    <nav class="navbar navbar-default navbar-event" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t("titles.events.new"), new_event_path %></li>
            <li>
              <% if @my %>
                <%= link_to t("titles.events.all"), "/events" %>
              <% else %>
                <%= link_to t("titles.events.my"), "/events?my=true" %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <% end %>

  <div class="row">

    <% @events.each do |event| %>
      <div class="col-md-6">

        <div class="box-event">
          <div class="box-event-header">

            <h1><%= link_to "#{event.name} - #{event.edition}", event_path(event) %></h1>

          </div>

          <div class="box-event-content">
            <p>
              <% if event.start_date == event.end_date %>
                <%= l event.start_date, :format => :long %>
              <% else %>
                  <%= t("show.event.of") %> <%= l event.start_date, :format => :long %> 
                  <%= t("show.event.to") %> <%= l event.end_date, :format => :long %>
              <% end %>
            </p>
            <p>
              <% if event.deadline_date_enrollment >= Date.today %>
                <%= t("labels.event.deadline_date_enrollment") %>: <%= l event.deadline_date_enrollment, :format => :long %>
              <% end %>
            </p>
            <p><%= t("labels.event.place") %>:</strong> <%= event.place %></p>
            <p><%= t("labels.event.address") %>:</strong> <%= event.address %></p>
            <p><%= t("labels.event.tags") %>:</strong> <%= event.tags %></p>
          </div>
        </div>

      </div>
    <% end %>

  </div>

</div>
