

<div class="container container-login">

  <h1>Bem-vindo de volta!</h1>

  <%= form_tag login_path, :html => {:class => 'form-horizontal' } do %>
    <div class="row form-group">
      <div class="col-md-12">
        <%= email_field_tag :email, nil, placeholder: t("labels.user.email"), :class => "form-control input-lg" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-12">
        <%= password_field_tag :password, nil, placeholder: t("labels.user.password"), :class => "form-control input-lg" %>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-12">
        <%= submit_tag t("form.submit.login"), :class => 'btn btn-primary btn-lg' %>
      </div>
    </div>
  <% end %>

  <%= link_to t("new.user.forgotten_password"), new_password_reset_path, :class => 'm-btn black' %>

    <p>Ainda não possui conta? <a href="<%= new_user_path %>">Cadastre-se<a></p>
</div>
